todo.md
sync_manifest.py
assets/vfs/home/blog/
assets/vfs/home/user/pictures
assets/vfs/sys/licenses/copyright_blog.txt
assets/vfs/sys/licenses/copyright_pictures.txt
assets/vfs/var/contact.md
assets/manifest_private.json
